/vendor/
.env

# VSCode Settingss
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PHPUnit
/.phpunit.cache
.phpunit.result.cache
clover.xml

.DS_Store